body { background-color: #e8eaf6 !important;}
.container{
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:50%;	
    transform: translateX(-50%) translateY(-50%);
}

h5{
    color: #3949ab;
}


.btn-custom{
    background-color: #3949ab  !important;
}

@media screen and (max-width:670px) {
    .container{
        left:0%;
        top: 0%;
        margin-top: 50rem;
        left: 55%;
    }
    .card{
        margin-bottom: 5%;
    }

}