<!DOCTYPE html>
<html>
<body>  
<div  class="topnav" ALIGN="CENTER">
  <input type="text" placeholder="Search rollno">
  </div> <br>
  
  <TABLE BORDER="4"    WIDTH="40%"   CELLPADDING="2" CELLSPACING="3">
   <TR>
      <TH COLSPAN="6"><BR><H3>Student Personal Details</H3>
      </TH>
   </TR>
   <TR>
      <TH>RollNo</TH>
      <TH>Name</TH>
     <TH>Addresss</TH>
     <TH>Mobile No</TH>
     <TH>Course</TH>
     <TH>Branch</TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD>1</TD>
      <TD>Ram</TD>
     <TD>Kanpur</TD>
     <TD>9169364332</TD>
     <TD>B.tech</TD>
     <TD>Noida</TD>
   </TR>
     <TR ALIGN="CENTER">
      <TD>2</TD>
      <TD>Shyam</TD>
     <TD>Lucknow</TD>
     <TD>9169364331</TD>
     <TD>B.A</TD>
     <TD>Gurgaon</TD>
   </TR><TR ALIGN="CENTER">
      <TD>3</TD>
      <TD>Tom</TD>
     <TD>Delhi</TD>
     <TD>9169364332</TD>
     <TD>MBA</TD>
     <TD>Mumbai</TD>
   </TR>
</TABLE>
    <br>
 <TABLE BORDER="4"    WIDTH="40%"   CELLPADDING="2" CELLSPACING="3">
   <TR>
      <TH COLSPAN="6"><BR><H3>Student Payment Details</H3>
      </TH>
   </TR>
   <TR>
      <TH>RollNo</TH>
      <TH>Name</TH>
     <TH>Addresss</TH>
     <TH>Mobile No</TH>
     <TH>Course</TH>
     <TH>Branch</TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD>1</TD>
      <TD>Ram</TD>
     <TD>Kanpur</TD>
     <TD>9169364332</TD>
     <TD>B.tech</TD>
     <TD>Noida</TD>
   </TR>
     <TR ALIGN="CENTER">
      <TD>2</TD>
      <TD>Shyam</TD>
     <TD>Lucknow</TD>
     <TD>9169364331</TD>
     <TD>B.A</TD>
     <TD>Gurgaon</TD>
   </TR><TR ALIGN="CENTER">
      <TD>3</TD>
      <TD>Tom</TD>
     <TD>Delhi</TD>
     <TD>9169364332</TD>
     <TD>MBA</TD>
     <TD>Mumbai</TD>
   </TR>
</TABLE>   
    
</body>
</html>