<!DOCTYPE html>
<html>
<body>
<h1>
						Payment Billing System
					</h1>
<form>
  <input type="radio" id="admin" name="name" value="ADMIN">
  <label for="admin">ADMIN</label><br>
  <input type="radio" id="accountant" name="name" value="ACCOUNTANT">
  <label for="accountant">ACCOUNTANT</label><br><br>
  
</form>
  
<table align="right">
			
			<tr align="center"><td style="color: navy;"><B>Notice</B></td></tr>
			<tr><td><div><marquee direction="up" width="300px" truespeed="truespeed" onmouseover="stop()" onmouseout="start()" style="color: red;">Welcome Administrator sir.
															     You Can Visit a lot of information
															     about my various Branches.and Accountants
															      </marquee></div></td></tr></table>  
  <form action="action_page.php" method="post">
  
  <div class="container">
                    <table>
					<tr><td><br></td></tr>
					<tr><td>User Name: </td><td><input type="text" placeholder="Enter Username" name="username"/></td></tr>
								<tr><td><br></td></tr>
					<tr><td>Password: </td><td><input type="password" placeholder="Enter Password"name="userpass"/></td></tr>	
							<tr><td><br></td></tr>
					<tr><td>      </td><td><input type="submit" value="Login"></td></tr>
					
					</table>
 
  </div>
</form>
</body>
</html>