body { background-color: #e8eaf6 !important;}
.container{
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.form-floating{
    margin: 15px;
}
h3{
    color: #dc3545;
}

label{
    font-weight: bold;
    color: #6174f0;
}