body { background-color: #e8eaf6 !important;}
.container{
    margin-top: 5%;
    position: absolute;
    left: 15%;
}
.search-bar .query-field, .form-select{
    height: 3rem;
}
.form-select{
    width: 10%;
}
@media screen and (max-width:670px) {
    .container{
        margin-top: 25%;
         left: 0%;
    }
	
    .book-display{
        margin-left: 25%;
    }
}