spring:
  data:
    mongodb:
      host: localhost
      database: Chat_Astro
      port: 27017
      repositories:
        enabled: true
  session:
    store-type: MongoDB

website:
  address: astro.ski

server:
  port: 8443
  ssl:
    key-store: classpath:yacht.jks
    key-store-password:
    keyStoreType: JKS
  servlet:
    context-path: /api
